<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net462" />
  <package id="Polly" version="5.3.1" targetFramework="net462" />
  <package id="Relativity.Logging" version="9.4.308" targetFramework="net462" />
  <package id="SSH.NET" version="2016.0.0" targetFramework="net462" />
  <package id="ZetaLongPaths" version="1.0.0.16" targetFramework="net462" />
</packages>